<form #f="ngForm" (ngSubmit)="onSubmit()">

  <div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="f.invalid">Submit
    </button>
    <a role="button" mat-raised-button color="primary" (click)="goBack()">back</a>
  </div>

  <hr>

  <h2>New User</h2>

  <hr>

  <div>
    <input
      #username="ngModel"
      id="username"
      name="username"
      [(ngModel)]="user.username"
      placeholder="username..."
      required
      type="text">
    <label for="username">username</label>
  </div>

  <div>
    <input
      #email="ngModel"
      class="form-control"
      id="email"
      name="email"
      [(ngModel)]="user.email"
      placeholder="email..."
      required
      type="email">
    <label for="email">email</label>
  </div>

  <div>
    <input
      #firstName="ngModel"
      class="form-control"
      id="firstName"
      name="firstName"
      [(ngModel)]="user.firstName"
      placeholder="first name..."
      required
      type="text">
    <label for="firstName">first Name</label>
  </div>

  <div>
    <input
      #lastName="ngModel"
      class="form-control"
      id="lastName"
      name="lastName"
      [(ngModel)]="user.lastName"
      placeholder="last name..."
      required
      type="text">
    <label for="lastName">last Name</label>
  </div>

</form>
