<form #f="ngForm" (ngSubmit)="onSubmit()">

  <div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="f.invalid">Submit
    </button>
    <a role="button" mat-raised-button color="primary" (click)="goBack()">back</a>
  </div>

  <hr>

  <app-subtitle [subtitle]="subtitle"></app-subtitle>

  <mat-form-field>
    <input
      matInput
      #username="ngModel"
      id="username"
      name="username"
      [(ngModel)]="user.username"
      required
      type="text">
    <mat-label>Username</mat-label>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      #email="ngModel"
      class="form-control"
      id="email"
      name="email"
      [(ngModel)]="user.email"
      required
      type="email">
    <mat-label>Email</mat-label>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      #firstName="ngModel"
      class="form-control"
      id="firstName"
      name="firstName"
      [(ngModel)]="user.firstName"
      required
      type="text">
    <mat-label>First Name</mat-label>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      #lastName="ngModel"
      class="form-control"
      id="lastName"
      name="lastName"
      [(ngModel)]="user.lastName"
      required
      type="text">
    <mat-label>Last Name</mat-label>
  </mat-form-field>

</form>
