<h2>New User</h2>

<hr>

<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">

  <div #userData="ngModelGroup" ngModelGroup="user"></div>

  <div>
    <input
      #username="ngModel"
      id="username"
      name="username"
      ngModel
      placeholder="username..."
      required
      type="text">
    <label for="username">username</label>
  </div>

  <div>
    <input
      #email="ngModel"
      class="form-control"
      id="email"
      name="email"
      ngModel
      placeholder="email..."
      type="email">
    <label for="email">email</label>
  </div>

  <div>
    <input
      #firstName="ngModel"
      class="form-control"
      id="firstName"
      name="firstName"
      ngModel
      placeholder="first name..."
      type="text">
    <label for="firstName">first Name</label>
  </div>

  <div>
    <input
      #lastName="ngModel"
      class="form-control"
      id="lastName"
      name="lastName"
      ngModel
      placeholder="last name..."
      type="text">
    <label for="lastName">last Name</label>
  </div>

  <div>
    <button type="submit">Submit</button>
    <button (click)="goBack()">back</button>
  </div>

</form>
