.users__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

h2 {
  text-transform: uppercase;
  text-align: center;
}

hr {
  width: 100%;
  margin: .5rem auto;
  border-color: var(--primary-color);
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

a, a:visited {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
