<div *ngIf="user">

  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div ngModelGroup="userData" #userData="ngModelGroup">
      <div>
        <label for="username">username</label>
        <input type="text" id="username" [(ngModel)]="user.username" name="username" required>
      </div>
      <div>
        <label for="email">email</label>
        <input type="text" id="email" [(ngModel)]="user.email" name="email" required>
      </div>
      <div>
        <label for="firstName">firstName</label>
        <input type="text" id="firstName" [(ngModel)]="user.firstName" name="username" required>
      </div>
      <div>
        <label for="lastName">lastName</label>
        <input type="text" id="lastName" [(ngModel)]="user.lastName" name="lastName" required>
      </div>
    </div>
    <button type="submit">update</button>
  </form>

</div>
