<app-subtitle [subtitle]="subtitle"></app-subtitle>

<div *ngIf="user">

  <form #f="ngForm" (ngSubmit)="onSubmit()">

    <div #userData="ngModelGroup" ngModelGroup="userData">

      <mat-form-field>
        <input
          matInput
          [(ngModel)]="user.username"
          id="username"
          name="username"
          placeholder="username..."
          required
          type="text">
        <mat-label>username</mat-label>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [(ngModel)]="user.email"
          id="email"
          name="email"
          required
          placeholder="email..."
          type="text">
        <mat-label>email</mat-label>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [(ngModel)]="user.firstName"
          id="firstName"
          name="username"
          required
          placeholder="first name..."
          type="text">
        <mat-label>first name</mat-label>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          [(ngModel)]="user.lastName"
          id="lastName"
          name="lastName"
          required
          placeholder="last name..."
          type="text">
        <mat-label>last name</mat-label>
      </mat-form-field>
    </div>

    <div>
      <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">update</button>
      <a role="button" mat-raised-button color="primary" (click)="goBack()">back</a>
    </div>

  </form>

</div>
