<form
  (ngSubmit)="onSubmit(updateUserForm.value)"
  #updateUserForm="ngForm">
  <div ngModelGroup="user" #user="ngModelGroup">
    <div class="form-group">
      <label for="username">username</label>
      <input
        ngModel
        name="username"
        #username="ngModel"
        class="form-control"
        id="username"
        required
        type="text">
    </div>

      <div class="form-group">
        <label for="email">email</label>
        <input
          ngModel
          #email="ngModel"
          class="form-control"
          id="email"
          name="email"
          type="email">
      </div>

      <div class="form-group">
        <label for="firstName">firstName</label>
        <input
          ngModel
          #firstName="ngModel"
          class="form-control"
          id="firstName"
          name="firstName"
          type="text">
      </div>

      <div class="form-group">
        <label for="lastName">lastName</label>
        <input
          ngModel
          #lastName="ngModel"
          class="form-control"
          id="lastName"
          name="lastName"
          type="text">
      </div>

    <button class="btn btn-success" type="submit">Submit</button>
  </div>
</form>

<div class="button__container">
  <button (click)="goBack()" class="button--regular">back</button>
  <button class="button--regular">update</button>
</div>
