li {
  display: flex;
  justify-content: space-between;
}

.remove {
  color: var(--secondary-color);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}
