.tasks__container {
  margin: 0 auto;
  max-width: 480px;
  min-height: 100vh;
  padding: 1rem;
  border: 10px solid var(--primary-color);
}

@media (min-width: 768px) {
  .tasks__container {
    margin: 1rem auto;
    padding: 1rem;
    max-width: 480px;
  }
}

.tasks__title {
  font-size: 3rem;
  text-align: center;
}
