<h2>User Info</h2>

<hr>

<div *ngIf="user">
  <table>
    <tr>
      <td>id: </td>
      <td>{{ user.id }}</td>
    </tr>
    <tr>
      <td>username: </td>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <td>email: </td>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <td>first name: </td>
      <td>{{ user.firstName }}</td>
    </tr>
    <tr>
      <td>last name: </td>
      <td>{{ user.lastName }}</td>
    </tr>

  </table>

  <div>
    <a routerLink="/users/{{ user.id }}/update">
      <button>update</button>
    </a>
    <button (click)="deleteUser(user.id)">delete</button>
    <button (click)="goBack()">back</button>
  </div>

</div>
