<app-subtitle [subtitle]="subtitle"></app-subtitle>

<mat-dialog-content *ngIf="user">
  <table>
    <tr>
      <td>id:</td>
      <td>{{ user.id }}</td>
    </tr>
    <tr>
      <td>username:</td>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <td>email:</td>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <td>first name:</td>
      <td>{{ user.firstName }}</td>
    </tr>
    <tr>
      <td>last name:</td>
      <td>{{ user.lastName }}</td>
    </tr>

  </table>
</mat-dialog-content>

<div>
  <button
    *ngIf="user"
    mat-raised-button
    color="primary"
    (click)="deleteUser()">
    delete
  </button>
</div>

<mat-dialog-actions>
  <button color="primary" mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>
