<div *ngIf="user">
  <ul>
    <li>{{ user.id }}</li>
    <li>{{ user.username }}</li>
    <li>{{ user.email }}</li>
    <li>{{ user.firstName }}</li>
    <li>{{ user.lastName }}</li>
  </ul>

  <div class="button__container">
    <button (click)="goBack()" class="button--regular">back</button>
    <button (click)="deleteUser(user.id)" class="button--regular">delete
    </button>
    <a routerLink="/users/{{ user.id }}/update">
      <button class="button--regular">update</button>
    </a>
  </div>

</div>
