/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

:root {
  --primary-color: #296bb9;
  --secondary-color: #b9172d;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  max-width: 768px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2 {
  text-align: center;
}

hr {
  border: 2px solid var(--primary-color);
}

a, a:visited {
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0;
}

::placeholder {
  color: lighten(#296BB9, 30);
}

.container {
  padding: 1rem;
}
