<div>
  <a role="button" mat-raised-button color="primary" (click)="goBack()">Back</a>
</div>

<hr>

<app-subtitle [subtitle]="subtitle"></app-subtitle>

<form #f="ngForm" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <input
      matInput
      *ngIf="task"
      [(ngModel)]="task.body"
      value="{{ task.body }}"
      maxlength="25"
      name="task"
      type="text">
    <mat-label>task</mat-label>
  </mat-form-field>

  <button [disabled]="f.invalid" mat-raised-button color="primary" type="submit">update</button>
</form>



