.task-detail__input {
  border: none;
  border-bottom: 3px solid var(--primary-color);
  width: 100%;
  padding: 1rem;
  color: var(--primary-color);
  text-align: center;
  outline: none;
  font-size: 1rem;
  font-weight: bolder;
}

.task-detail__button {
  border: 3px solid var(--primary-color);
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  padding: .5rem;
  margin-top: 1rem;
  font-weight: inherit;
}
