<form *ngIf="task" (ngSubmit)="onSubmit()" #f="ngForm">

  <div>
    <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">add task</button>
    <a role="button" mat-raised-button color="primary" (click)="goBack()">back</a>
  </div>

  <hr>

  <app-subtitle [subtitle]="subtitle"></app-subtitle>

  <mat-form-field>
    <input matInput [(ngModel)]="task.body" #body="ngModel" name="body" type="text" placeholder="new task..." required id="body">
    <label>new task</label>
  </mat-form-field>

</form>
